
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background:#f0f4f9;
    display:flex;
    flex-direction:column;
    align-items:center;
    min-height:100vh;
}
header {
    background-color: #164a98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo{
    width:180px;
}

.logo img{
    height:60px;
    width:auto;
}

nav{
    flex:1;

    display:flex;
    justify-content:center;
    gap:45px;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:600;
    font-size:16px;
    padding:8px 10px;
    border-radius:6px;
    transition:.3s;
}

nav a:hover{
    background:#006AEA;
}

.login-container{
    
    margin-top:35px;
    width:900px;
    max-width:95%;
    height:500px;
    background:white;
    display:flex;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
}

.login-content{
    
    flex:1.1;
    padding:45px 55px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.encabezado h1{

    color:#072b66;
    font-size:2.1rem;
    margin-bottom:10px;
}

.encabezado p{

    color:#666;
    margin-bottom:30px;
}

.formulario{

    display:flex;
    flex-direction:column;
}

label{

    color:#001f54;
    font-weight:600;
    margin-bottom:8px;
}

input{

    width:100%;
    padding:14px 16px;
    border:1px solid #d9d9d9;
    border-radius:8px;
    font-size:15px;
    margin-bottom:18px;
    outline:none;
    transition:.2s;
}

input::placeholder{

    color:#b8b8b8;
}

input:focus{

    border-color:#0168ee;
}
nav button{

    padding:14px;
    background:#0168ee;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

main button{

    margin-top:8px;
    padding:14px;
    background:#0168ee;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:.3s;
}

button:hover{

    background:#0057c7;
}

.imagen-panel{

    flex:.9;
    background:#0168ee;
    display:flex;
    justify-content:center;
    align-items:center;
}

.imagen-panel img{

    width:70%;
    height:auto;
    object-fit:contain;
}
nav {
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul  {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; 
  gap: 20px;
}

nav ul li {
  position: relative;
  display: flex;
  align-items: center;
}

nav a,
.mnu-btn {
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 6px 10px;
  border-radius: 4px;
  background: none;
  border: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  display: block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover,
.mnu-btn:hover {
  background-color: #006AEA;
  color: #fff;
}


nav ul li ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #164a98;
  min-width: 220px;
  padding: 10px 0;
  border-radius: 6px;
  z-index: 1000;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul li {
  display: block;
  width: 100%;
}

nav ul li ul li a {
  display: block;
  padding: 10px 15px;
}
